<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% extends "base.html" %} {% load static %} {% block content %}

<body>
    <!--header-->
    <!--/header-->
    <!--work-->
    <div id="work" class="work">
        <div class="container">
            <div class="label-3"> </div>
            <div class="label-4"> </div>
            <h3><span class="left-icon"> </span>TO-DO<span class="right-icon"> </span>
                <div class="clearfix"> </div>
            </h3>
            <p>Enter tasks and value their worth using Existential questions</p>
            <form method="POST" enctype="multipart/form-data">
                <div class="conatct-form">
                    <ul class="form">
                        {% csrf_token %}
                        <li>
                            {{form.todo}}
                            <!-- <input type="text" class="text" name="task" placeholder="Task">
                            <button class="trigger" type="submit" href="#popup1"></button>-->
                            <div class="sub-button">
                                <input type="submit" value="SEND">
                            </div>

                        </li>
                    </ul>
            </form>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} {% for todo in task %}
                <ul>
                    <li id="tasks"> <button id="trash_button" name="delete" value={{todo.id}} type="submit"> <i class="fa fa-trash"
									id="trash" aria-hidden="true"></i> </button> {{todo.todo}}</li>


                </ul>
                {%endfor%}
                </div>
            </form>


        </div>
        <link rel="stylesheet" href="{% static 'css/swipebox.css'%}">
        <script src="{% static 'js/jquery.swipebox.min.js'%}"></script>
        <script src="{% static 'js/main.js'%}"></script>
        <script type="text/javascript">
            jQuery(function($) {
                $(".swipebox").swipebox();
            });
            var question_form = document.getElementsByClassName("trigger");

            question_form.addEventListener("click", function Trigger() {
                document.body.style.element.display = "flex";
            });
        </script>
        <!--/Portfolio-->
    </div>
    </div>
    <!--/work-->
    <!--/about-->
    <!--contact-->

    {% endblock content %}